<h1>
    <%= title %>
</h1>

<%= messages() %>

    <% if (errors && errors.length> 0) { %>
        <ul class="errors">
            <% errors.forEach(err=> { %>
                <li>
                    <%= err.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <!-- registration form -->
            <form action="/account/update" method="post" class="all-forms">
                <h2>Account Update</h2>
                <label>First Name<input type="text" id="firstname" name="account_firstname" placeholder="First Name" value="<%= accountData.account_firstname %>" title="Update your first name"></label>

                <label>Last Name<input type="text" id="lastname" name="account_lastname" placeholder="Last Name" value="<%= accountData.account_lastname %>" title="Update your last name"></label>

                <label>Email<input type="email" id="email" name="account_email" placeholder="Email" value="<%= accountData.account_email %>" title="Update email address"></label>

                <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

                <button type="submit">Update Information</button>
            </form>

            <form action="/account/update-password" method="post" class="all-forms">
                <h2>Change Password</h2>
                <label>Password<input type="password" id="password" name="account_password" placeholder="************" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" title="Enter a password"></label>
                <div class="password-rules">
                    <p>Password must:</p>
                    <ul>
                        <li>be at least 12 characters long</li>
                        <li>contain 1 capital letter</li>
                        <li>contain 1 number</li>
                        <li>contain 1 special character</li>
                    </ul>
                </div>

                <input type="hidden" name="account_id" value="<%= accountData.account_id %>">
    
                <button type="submit">Change Password</button>
            </form>